@tailwind base;
@tailwind components;
@tailwind utilities;

#search {
    --pagefind-ui-border-width: 1px;
    /* Copied from tailwind's preflight */
    --pagefind-ui-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --pagefind-ui-primary: theme('colors.gray.600');
    --pagefind-ui-text: theme('colors.gray.600');
    --pagefind-ui-border: theme('colors.gray.200');
    --pagefind-ui-tag: theme('colors.gray.200');
    --pagefind-ui-border-radius: 4px;
    --pagefind-ui-scale: 1;
}

.pagefind-ui__search-input {
    height: calc(48px * var(--pagefind-ui-scale)) !important;
    font-size: calc(16px * var(--pagefind-ui-scale)) !important;
}

.pagefind-ui__search-clear {
    height: calc(44px * var(--pagefind-ui-scale)) !important;
}

.pagefind-ui__form::before {
    top: calc(16px * var(--pagefind-ui-scale)) !important;
}

@layer components {
    .post-preview {
        position: relative;
        max-height: 15.75rem;
    }

    .post-preview > *:first-child {
        margin-top: 0;
    }

    .post-preview > *:last-child {
        margin-bottom: 0;
    }

    .post-preview::after {
        position: absolute;
        /* If text is shorter than max-height, push the overflow indicator
        down so it's hidden by the overflow. */
        top: calc(max(15.75rem - 100%, 0rem) * 20 + 15.75rem - 5.25rem);
        height: 5.25rem;
        left: 0;
        right: 0;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 25%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.85) 75%, rgba(255, 255, 255, 1));
        content: " ";
        pointer-events: none;
    }
}