@tailwind base;
@tailwind components;
@tailwind utilities;

#search {
    --pagefind-ui-border-width: 1px;
    /* Copied from tailwind's preflight */
    --pagefind-ui-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --pagefind-ui-primary: theme('colors.gray.600');
    --pagefind-ui-text: theme('colors.gray.600');
    --pagefind-ui-border: theme('colors.gray.200');
    --pagefind-ui-tag: theme('colors.gray.200');
    --pagefind-ui-border-radius: 4px;
    --pagefind-ui-scale: 1;
}

.pagefind-ui__search-input {
    height: calc(48px * var(--pagefind-ui-scale)) !important;
    font-size: calc(16px * var(--pagefind-ui-scale)) !important;
}

.pagefind-ui__search-clear {
    height: calc(44px * var(--pagefind-ui-scale)) !important;
}

.pagefind-ui__form::before {
    top: calc(16px * var(--pagefind-ui-scale)) !important;
}