{% extends "layout.jinja" %}

{% block content %}

{% include "nav.jinja" %}
{% for post in posts %}
<div class="mb-8 prose">
  <a href="/posts/{{post.id}}.html" class="no-underline">
    <h3>{{ post.title }}</h3>
  </a>
  <p>{{ post.selftext_html|safe }}</p>
  <p class="text-sm text-gray-400">{{ post.num_comments }} Answers</p>
</div>
{% endfor %}

{% endblock %}