<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/main.css" />
  <title>AskHistorians Archive</title>
  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">
  {% block head %}{% endblock %}
</head>

<body class="m-4">
  <div class="mx-auto max-w-prose">
    {% block content %}{% endblock %}
  </div>
</body>

</html>