<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/main.css" />
  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">
  {% block head %}
  <title>AskHistorians Archive</title>
  {% endblock %}
</head>

<body class="m-3 mb-6">
  <div class="mx-auto max-w-prose">
    {% block content %}{% endblock %}
  </div>
</body>

</html>