{% extends "layout.jinja" %}

{% block head %}
<title>AskHistorians Archive | Page {{page}}</title>
<link rel="stylesheet" href="/pagefind/pagefind-ui.css">
{% endblock %}

{% block content %}

{% include "nav.jinja" %}

<div id="search"></div>

{% for post in posts %}
<div class="mb-8 prose break-words">
  <a href="/posts/{{post.id}}.html" class="no-underline">
    <h3 class="mb-5">{{ post.title }}</h3>
  </a>
  {% if post.selftext_html.is_some() || !post.selftext.is_empty() %}
  <div class="overflow-hidden post-preview">
    {% include "post_text.jinja" %}
  </div>
  {% endif %}
  <p class="text-sm mt-5 flex justify-between">
    <a href="/posts/{{post.id}}.html">{{ post.real_num_comments }}
      Answers</a>
    <span class="text-gray-500">{{post.created_at.format("%F")}}</span>
  </p>
</div>
{% endfor %}

<div class="flex justify-center">
  {% if let Some(previous_page) = previous_page %}
  <a class="text-gray-700 px-2" href="/pages/{{previous_page}}.html">⯇</a>
  {% else %}
  <span class="text-gray-400 px-2 cursor-default">⯇</span>
  {% endif %}

  <span class="font-bold px-1">{{page}}</span>
  <span>/</span>
  <a class="px-1" href="/pages/{{last_page}}.html">{{last_page}}</a>

  {% if let Some(next_page) = next_page %}
  <a class="text-gray-700 px-2" href="/pages/{{next_page}}.html">⯈</a>
  {% else %}
  <span class="text-gray-400 px-2 cursor-default">⯈</span>
  {% endif %}

</div>

{% if page > 2 %}
<p class="text-center mt-2">
  <a class="text-sm underline text-gray-700" href="/pages/{{1}}.html">Back to start</a>
</p>
{% endif %}

<script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({ element: "#search", showImages: false });
  });
</script>

{% endblock %}