<nav class="mb-4 border-b border-slate flex justify-between">
    <a class="py-2" href="/">
        <h2 class="font-bold">AskHistorians Archive Observer</h2>
    </a>
    <a class="py-2 text-gray-600" href="/about.html">About</a>
</nav>