<div class="mb-8 border-b border-slate flex justify-between">
    <a href="/">
        <h1 class="font-bold">AskHistorians Archive</h1>
    </a>
    <a class="text-gray-600" href="/about.html">About</a>
</div>