{% render 'head' %}

{% capture content %}
  {% render 'nav' %}
  <div class="prose mt-2">
    <h2>{{ title }}</h2>
    <div class="ml-8 mb-8">{{ selftext_html }}</div>
    {% for comment in comments %}
      <p class="pt-4 border-t border-slate">{{ comment.body | newline_to_br }}</p>
    {% endfor %}
  </div>
{% endcapture %}

{% render 'layout', content: content %}